AppPersona/AppPersona/Connected Services/WsEfecty/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Libreria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Libreria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="objRtaTiposDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExisteError" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiposDocumento" nillable="true" type="tns:ArrayOfobjTipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objRtaTiposDocumento" nillable="true" type="tns:objRtaTiposDocumento" />
  <xs:complexType name="ArrayOfobjTipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="objTipoDocumento" nillable="true" type="tns:objTipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfobjTipoDocumento" nillable="true" type="tns:ArrayOfobjTipoDocumento" />
  <xs:complexType name="objTipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objTipoDocumento" nillable="true" type="tns:objTipoDocumento" />
  <xs:complexType name="objRtaEstadosCivil">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadosCivil" nillable="true" type="tns:ArrayOfobjEstadoCivil" />
      <xs:element minOccurs="0" name="ExisteError" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objRtaEstadosCivil" nillable="true" type="tns:objRtaEstadosCivil" />
  <xs:complexType name="ArrayOfobjEstadoCivil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="objEstadoCivil" nillable="true" type="tns:objEstadoCivil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfobjEstadoCivil" nillable="true" type="tns:ArrayOfobjEstadoCivil" />
  <xs:complexType name="objEstadoCivil">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objEstadoCivil" nillable="true" type="tns:objEstadoCivil" />
  <xs:complexType name="objRtaPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExisteError" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Personas" nillable="true" type="tns:ArrayOfobjPersona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objRtaPersona" nillable="true" type="tns:objRtaPersona" />
  <xs:complexType name="ArrayOfobjPersona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="objPersona" nillable="true" type="tns:objPersona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfobjPersona" nillable="true" type="tns:ArrayOfobjPersona" />
  <xs:complexType name="objPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoCivil" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorAGanar" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objPersona" nillable="true" type="tns:objPersona" />
  <xs:complexType name="objRtaInsertarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExisteError" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objRtaInsertarPersona" nillable="true" type="tns:objRtaInsertarPersona" />
</xs:schema>