AppPersona/AppPersona/Connected Services/WsEfecty/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2667/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Libreria" />
  <xs:element name="ConsultarTiposDocumento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTiposDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Libreria" minOccurs="0" name="ConsultarTiposDocumentoResult" nillable="true" type="q1:objRtaTiposDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstadosCivil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstadosCivilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Libreria" minOccurs="0" name="ConsultarEstadosCivilResult" nillable="true" type="q2:objRtaEstadosCivil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Libreria" minOccurs="0" name="ConsultarPersonaResult" nillable="true" type="q3:objRtaPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:int" />
        <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ValorGanar" type="xs:double" />
        <xs:element minOccurs="0" name="IdEstadoCivil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Libreria" minOccurs="0" name="InsertarPersonaResult" nillable="true" type="q4:objRtaInsertarPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>